/*------------- 
google front 
------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}
/*-------------- 
common style 
---------------*/
.custom_padding{
   padding: 80px 0px; 
}


/*--------------
 navbar style 
 ------------*/


.bg_color{
    background-color: #264653;
}
.navbar a{
    color: #fff !important;
    font-weight: bold;
}
.btn{
    background:#E76F51 !important;
    border: 0px !important;
    padding: 10px 20px !important;
}

/*-----------------
 honda cbr part style  
 ----------------------*/
.honda_dec span{
    font-style: normal;
    font-size: 14px;
    color: #fff;
}
.honda_dec h1{
    font-size: 48px;
    color: #fff;
    padding: 15px 0px;
}
.honda_dec p{
    color: #E0E0E0;
    font-size: 16px;
    text-align: justify;
}

/*-------------------
 features style 
 --------------*/

 .features h1{
     text-align: center;
     font-weight: 600;
     font-size: 48px;
     color: #000;
 }
 .features span{
     text-align: center;
     display: block;
     color: #E76F51;
     font-size: 14px;
     font-weight: 600px;
}
.features hr{
    width: 5%;
    margin: auto;
   
    margin-top: 5px;
    border: 2px solid rgb(218, 13, 13);
}